<%= simple_form_for @survey_value_set, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :time %>
  <hr>
  <%= f.input :value1 %>
  <hr>
  <%= f.input :value2, :as => :radio_buttons %>
  <h4><%= t('survey_value_sets.edit.text') %></h4>
  <%= f.input :value3,:as => :radio_buttons %>
  <%= f.input :value4, :as => :radio_buttons %>
  <%= f.input :value5, :as => :radio_buttons %>
  <%= f.input :value6, :as => :radio_buttons %>
    <hr>
  <%= f.input :value7, :as => :radio_buttons %>

  <div class="form-actions">
    <%= f.button :submit, t('survey_value_sets.edit.edit_button'), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                survey_value_sets_path, :class => 'btn' %>
  </div>
<% end %>
