<%- model_class = SurveyValueSet -%>
<div class="page-header">
  <h1><%= "#{model_class.model_name.human} #{t ('.for')} #{@survey_value_set.survey_data_set.survey_location.title} #{t ('.at')} #{@survey_value_set.survey_data_set.start.strftime("%d.%m.%y")}" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:value1) %>:</strong></dt>
  <dd><%= @survey_value_set.value1 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value2) %>:</strong></dt>
  <dd><%= @survey_value_set.value2 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value3) %>:</strong></dt>
  <dd><%= @survey_value_set.value3 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value4) %>:</strong></dt>
  <dd><%= @survey_value_set.value4 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value5) %>:</strong></dt>
  <dd><%= @survey_value_set.value5 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value6) %>:</strong></dt>
  <dd><%= @survey_value_set.value6 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value7) %>:</strong></dt>
  <dd><%= @survey_value_set.value7 %>&nbsp;</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              survey_path(@survey_value_set.survey), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_value_set_path(@survey_value_set), :class => 'btn' %>
</div>
