<h2><%= t(".title") %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name, :autofocus => true %>
  <%= f.input :last_name %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => t(".hint_not_change_password"), :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => t(".hint_password_to_apply_changes"), :required => true %>
  <% if Figaro.env.use_user_address == "true" %>
  <div class="control-group">
    <%= f.input :street, :wrapper_html => { :class => "inline_field_wrapper", :style => 'width: 275px' } %>
    <%= f.input :street_number, :wrapper_html => { :class => "inline_field_wrapper" }, :input_html => { :maxlength => 5, :style => 'width: 50px'} %>
  </div>
  <div class="control-group">
    <%= f.input:zip, :wrapper_html => { :class => "inline_field_wrapper", :style => 'width: 120px' }, :input_html => {:maxlength => 5, :style => 'width: 50px'} %>
    <%= f.input:city, :wrapper_html => { :class => "inline_field_wrapper" } %>
  </div>
  <% end %>
  <%= f.input:mobile_phone %>
  <%= f.input:date_of_birth %>
  <%= f.input:drivers_license %>
  <div class="control-group">
    <%= f.input:bank_account_number, :wrapper_html => { :class => "inline_field_wrapper", :style => 'width: 290px' } %>
    <%= f.input:bank_identification_code, :wrapper_html => { :class => "inline_field_wrapper" } %>
  </div>
    <div class="form-actions">
    <%= f.button :submit, t("helpers.save_changes"), :class => 'btn-primary' %>
    </div>
<% end %>

<%= link_to t(".destroy_account"), registration_path(resource_name), :class => 'btn btn-danger', :data => { :confirm => t("helpers.confirm") }, :method => :delete %>
<br/>
<br/>
<%= link_to t("helpers.back"), :back %>

