<%= simple_form_for @interviewer, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :street %>
  <%= f.input :street_number %>
  <%= f.input :zip %>
  <%= f.input :mobile_phone %>
  <%= f.input :date_of_birth %>
  <%= f.input :drivers_license %>
  <%= f.input :bank_account_number %>
  <%= f.input :bank_identification_code %>
  <%= f.input :email %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                interviewers_path, :class => 'btn' %>
  </div>
<% end %>
