<%= simple_form_for(@survey_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :notice %>
    <%= f.input :street %>
    <%= f.input :street_number %>
    <%= f.input :zip %>
    <%= f.input :city %>
    <%= f.input :url %>
    <%= f.input :map_url %>
    <%= f.input :survey_area_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
