<%- model_class = Survey -%>
<div class="page-header">
  <h1><%= "#{t '.title', :default => model_class.model_name.human}#{unless @survey.title.nil? then ": " << @survey.title end } " %></h1>
</div>

<%= gmaps({
                  "map_options" => {"auto_zoom" => true },
                  "markers" => {"data" => @json }
          })
%>

<dl class="dl-horizontal">
  <% unless @survey.title.nil? %>
  <!-- <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt> -->
  <!-- <dd><%= @survey.title %>&nbsp;</dd> -->
  <% end %>
  <% unless @survey.description.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @survey.description %>&nbsp;</dd>
  <% end %>
  <% unless @survey.city.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @survey.city %>&nbsp;</dd>
  <% end %>
  <% unless @survey.start_date.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= l @survey.start_date, :format => :long %>&nbsp;</dd>
  <% end %>
  <% unless @survey.end_date.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= l @survey.end_date, :format => :long %>&nbsp;</dd>
  <% end %>
</dl>

<%= render :partial => "partials/survey_area_table", :locals => { :survey_areas => @survey_areas } %>

<div class="form-actions">
  <%= if can? :edit, @survey then link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_path(@survey), :class => 'btn' end %>
  <%= if can? :destroy, @survey then link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path(@survey),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' end %>
</div>