<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @survey.title %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @survey.description %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @survey.city %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @survey.start_date %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= @survey.end_date %>&nbsp;</dd>
</dl>


<hr>

<h2><%= t('.corresponding_survey_areas') %></h2>
<% if @survey.survey_areas.count == 0 %>
    <h4><%= t('helpers.none')%></h4>
<% else %>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th><%= SurveyArea.human_attribute_name(:title) %></th>
        <th><%= SurveyArea.human_attribute_name(:description) %></th>
        <th><%= SurveyArea.human_attribute_name(:location) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @survey.survey_areas.each do |survey_area| %>
          <tr>
            <td><%= link_to survey_area.title, survey_area_path(survey_area) %></td>
            <td><%= survey_area.description %></td>
            <td><%= survey_area.location %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_survey_area_path(survey_area), :class => 'btn btn-mini' %>

              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          survey_area_path(survey_area),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>

            </td>
            </tr>
            <tr>
            <td></td>
            <td colspan="3">
              <h4><%= t('.corresponding_survey_locations')%></h4>
              <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:title) %></th>
                  <th><%= model_class.human_attribute_name(:description) %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
                </thead>
                <tbody>
                <% survey_area.survey_locations.each do |survey_location| %>
                    <tr>
                      <td><%= link_to survey_location.title, survey_location_path(survey_location) %></td>
                      <td><%= survey_location.description %></td>
                        <td>
                        <div style="text-align: center;">
                          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_survey_location_path(survey_location), :class => 'btn btn-mini' %>
                          <br/>
                          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                      survey_location_path(survey_location),
                                      :method => :delete,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                      :class => 'btn btn-mini btn-danger' %>
                        </div>
                      </td>

                    </tr>
                <% end %>
                </tbody>
              </table>
            </td>


          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<hr>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              surveys_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_path(@survey), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path(@survey),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
